.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: var(--font-main);
  font-weight: 500;
  line-height: 100%;
  transition: var(--transition-default);
}

.btn-sm {
  padding: var(--button-padding-sm);
  font-size: var(--button-font-sm);
}

.btn-md {
  padding: var(--button-padding-md);
  font-size: var(--button-font-md);
}

.btn-lg {
  padding: var(--button-padding-lg);
  font-size: var(--button-font-lg);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);

  border-radius: var(--button-radius-pill);
}

.btn-primary:hover {
  background: var(--color-secondary);
}

.btn-primary:active {
  transform: scale(0.97);
}

.btn-outline {
  background: transparent;

  border: 2px solid var(--color-secondary);
  border-radius: var(--button-radius-pill);

  color: var(--color-secondary);
}

.btn-outline:hover {
  background: rgba(4, 45, 136, 0.05);
}

.btn-outline:active {
  transform: scale(0.97);
}

.btn-yellow {
  background: var(--color-yellow);
  color: #000000;
  border-radius: var(--button-radius-pill);
}

.btn-yellow:hover {
  filter: brightness(0.96);
}

.btn-yellow:active {
  transform: scale(0.97);
}

.btn-circle {
  width: 90px;
  aspect-ratio: 1 / 1;
  padding: 0;
  border-radius: var(--button-radius-circle);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.btn-support {
  padding: var(--button-support-padding);
  border: 2px solid var(--color-secondary);
  border-radius: var(--button-radius-pill);
  background: transparent;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
}

.btn-support {
  padding: 7px 27px;
  border: 2px solid #042D88;
  border-radius: 30px;
  background: #002B70;
  color: white ;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}